<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_20T1020657.Properties.Settings.QLBanhangConnectionString"
            connectionString="Data Source=LAPTOP-6EIFMUG5;Initial Catalog=quanlybanhang;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>